{% render 'partials/head.liquid', title: 'everyone' %}
 
<main class="search-page">
 
    <header class="search-header">
    {% render 'partials/searchbar-while-searched.liquid' %}

    <div class="filter-bar">
        {% if sort == '-name' %}
            <a href="/studenten?search={{ query }}&sort=name" class="sort-btn">
                ↑↓ Z-A
            </a>
        {% else %}
            <a href="/studenten?search={{ query }}&sort=-name" class="sort-btn">
                 ↑↓ A-Z
            </a>
        {% endif %}
    </div>
</header>
 
    <section class="search-results">
 
        {% if isSearch %}
         <p class="results-count">{{ persons.size }} resultaten voor "{{ query }}"</p>
        {% else %}
         <p>Alle {{ persons.size }} studenten</p>
        {% endif %}
 
 
      {% if persons.size > 0 %}
        <ul class="student-list">
            {% for person in persons %}
             
            <li class="student-item">

                <img
                    class="student-avatar"
                    src="{% if person.mugshot %}https://fdnd.directus.app/assets/{{ person.mugshot }}?width=80&height=80&fit=cover{% else %}/assets/no-pic.jpg{% endif %}"
                    alt="Foto van {{ person.name }}">
               
                <h2 class="student-name">{{ person.name }}</h2>
 
                <button class="comment-button" aria-label="Opmerking toevoegen">✏️</button>
 
                {% if person.bio %}
                    <p class="student-bio">
                        {{ person.bio | escape | truncate: 120 }}
                    </p>
                {% endif %}

 
                <p class="student-details">
                    {% if person.fav_animal %}
                        Favoriete dier: {{ person.fav_animal }},
                    {% endif %}

                    {% if person.fav_season %}
                        favoriete seizoen: {{ person.fav_season }},
                    {% endif %}

                    {% if person.length %}
                        lengte: {{ person.length }},
                    {% endif %}

                    {% if person.residency %}
                        {{ person.residency }},
                    {% endif %}

                    {% if person.hair_color %}
                        Haarkleur: {{ person.hair_color }}.
                    {% endif %}
                    
                </p>

 
            </li>
 
            {% endfor %}
        </ul>
 
        {% else %}
            <p>Geen studenten gevonden voor "{{ query }}" 😢</p>
        {% endif %}
 
</main>